* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    background-image: url(WD99P/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.profile-picture {
    
}